.todoContainer {
    margin-bottom: 1%;
}

.ui.icon.button.deleteTodoButton {
    float: right;
}

.todoCheckbox {
    vertical-align: top!important;
    margin-top: 3%;
}

.todoDescription {
    padding: 3%;
    display: inline-block;
    width: 75%;
}