/* .ui.card.noteCard {
    margin: 20%;
} */

input {
    outline:none!important;
    border-color: rgba(255, 255, 255, 0)!important;
}

.card {
    margin: 3% !important;
    border-width: 2px!important;
    border: solid!important;
}

.noteTitle {
    font-size: 130%!important;
    font-weight: bold!important;
    margin: 0 0 2% 0!important;
} 

.addTodoInput {
    padding-left: 0!important
}

i.icon {
    margin-right: 0!important;
}

.ui.input.noteDate {
    font-size: 90%;
    margin: 0;
}

.todoListContainer {
    max-height: 200px;
    overflow-y: auto;
}

.ui.centered.grid {
    text-align: left !important;
}

.deleteNoteButton {
    float: right;
    margin: 3% 0 0 0!important;
}

.input {
    background: transparent!important;
}